*{margin: 0;padding: 0;}

.login-container{
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.login-container>div{
	position: absolute;
}

.login{
	background: #18b4ff;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-login{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 0px;
	width: 0px;
	overflow: hidden;
	padding: 0px;
	background: white;
}

.box-login-default{
	height: 250px;
	width: 400px;
	padding: 50px;
}


.input{
	border:none;
	background: white;
	padding: 10px 10px;
	width: 250px;
}

.btn{
	border:none;
	background: #18b4ff;
	padding: 15px 0;
	width: 270px;
	margin-top: 25px;
	color: white;
	cursor: pointer;
}

.input:focus{
	outline: none;
}

.border{
	height: 3px;
	width: 270px;
	background: #18b4ff;
	margin-bottom: 10px;
}

.content-login-btn{
	display: none;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 200px;
	bottom: 0;
	right: 0;
	position: relative;
}

.button-login{
	background: #18b4ff;
	flex-direction: column;
	height: 80px;
	width: 80px;
	padding: 40px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	color: white;
	transition: all ease 2s;
	display: flex;
}

.button-login>i{
	font-size: 50px;
	color: white;
	margin-bottom: 5px;
	transition: all ease 1s;
}

.button-login:hover{
	padding: 50px;
	font-size: 60px;
	transition: all ease 1s;
}

.button-login:hover i{
	padding: 50px;
	font-size: 60px;
}

/*Register*/
.register{
	background: white;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.box-register{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 0px;
	width: 0px;
	overflow: hidden;
	padding: 0px;
	background: #18b4ff;
}

.box-register-default{
	height: 250px;
	width: 400px;
	padding: 50px;
}

.input-register{
	background: none;
	color:white;
}

.border-register{
	background: white;
	opacity: 1;
	width: 270px;
}


.btn-register{
	background: white;
	color:#18b4ff;
}

.input-register::-webkit-input-placeholder{ 
  color: white;
  opacity: 1; 
}

.input-register::-moz-placeholder{ 
  color: white;
  opacity: 1; 
}
.input-register:-ms-input-placeholder{ 
  color: white;
  opacity: 1; 
}
.input-register:-moz-placeholder{ 
  color: white;
  opacity: 1; 
}

.content-register-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 200px;
}

.button-register{
	position: relative;
	background: white;
	flex-direction: column;
	height: 80px;
	width: 80px;
	padding: 40px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	color: white;
	transition: all ease 1s;
	display: flex;
	transition: all ease 2s;
}

.button-register>i{
	font-size: 50px;
	color: #18b4ff;
	margin-bottom: 5px;
	transition: all ease 1s;
}

.button-register:hover{
	padding: 50px;
	font-size: 60px;
	transition: all ease 1s;
}

.button-register:hover i{
	padding: 50px;
	font-size: 60px;
}

.form-group {
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.login .form-group{
	opacity: 1;
}

.icon{
	position: absolute;
	left: -30px;
    top: 4px;
    color: rgba(0,0,0,.5);
}

.tmp .icon{
	top: 13px;
}

.icon-register{
	color: white;
}

.icon>i {
    font-size: 25px;
}

.cont-input>div{
	width: 0;
}

.login .border{
	width: 270px;
} 

/*ANIMATIONS*/
.box-animation{
	animation: 1s boxAnimation forwards;
}

.box-animation-register{
	animation: 1s boxAnimationRegister forwards;
}

.button-login-animation{
	animation: 1s btnLoginAnimation forwards;
}

.button-register-animation{
	animation: 1s btnRegisterAnimation forwards;
}

.fade-in{
	animation: 1s fadeIn forwards;
}

.fade-out{
	animation: 1s fadeOut forwards;
}

.width-animation{
	animation: 1s widthAnimation forwards;
}

.left-animation{
	animation: 1s leftAnimation forwards;
}

.width-bar-animation{
	animation: 1s widthBarAnimation forwards;
}

.btn-register-animation{
	animation: 1s buttonRegisterAnimation forwards;
}

.btn-login-animation{
	animation: 1s buttonLoginAnimation forwards;
}

.top-animation{
	animation: .5s topAnimation forwards;
}


@keyframes boxAnimation{
	from{
		width: 0px;
		height: 0px;
	}

	to{
		width: 4px;
		height: 250px;
	}
}

@keyframes btnLoginAnimation{
	from{
		bottom: -20px;
		right: -20px;
		padding: 40px;
		border-radius: 50%;
		width: 100px;
		height: 100px;
	}

	to{
		bottom:0;
		right:0;
		width: 100%;
		height: 100%;
		padding: 0;
		border-radius: 0;
	}
}

@keyframes btnRegisterAnimation{
	from{
		height: 200px;
		width: 200px;
	}

	to{
		height: 100vh;
		width: 100vw;
	}
}

@keyframes fadeIn{
	from{
		opacity: 0;
	}

	to{
		opacity: 1;
	}
}

@keyframes fadeOut{
	from{
		opacity: 1;
	}

	to{
		opacity: 0;
	}
}

@keyframes widthAnimation{
	from{
		width: 4px;
		height: 250px;
		padding: 0px;
	}

	to{
		width: 400px;
		height: 250px;
		padding: 50px;
	}
}

@keyframes leftAnimation{
	from{
		opacity: 0;
		left: -100%;
	}

	to{
		opacity: 1;
		left: 0%;
	}
}

@keyframes widthBarAnimation{
	from{
		opacity: 0;
		width: 0px;
	}

	to{
		opacity: 1;
		width: 270px;
	}
}

@keyframes buttonRegisterAnimation{
	from{
		opacity: 0;
		top: -200px;
		left: -200px;
	}

	to{
		opacity: 1;
		top: 0px;
		left: 0px;
	}
}

@keyframes buttonLoginAnimation{
	from{
		opacity: 0;
		bottom: -200px;
		right: -200px;
	}

	to{
		opacity: 1;
		bottom: 0px;
		right: 0px;
	}
}

@keyframes topAnimation{
	from{
		top: 4px;
	}

	to{
		top: 13px;
	}
}


